{% extends 'crypto/base.html' %}
{% load humanize %}


{% block content %}


<div class="container-float">
    <p class="lead">All Cryptocurrencies by Market Cap</p>

    <table class="table table-sm table-hover">
        <thead>
          <tr>
    
        <th scope="col">Rank</th>
        <th scope="col"></th>
        <th scope="col">Coin</th> 
        <th scope="col"></th>
        <th scope="col">Price</th>
        <th scope="col" style="text-align: center;">1h</th>
        <th scope="col" style="text-align: center;">24h</th>
        <th scope="col" style="text-align: center;">7d</th>
        <th scope="col">Volume</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead>
    <tbody>
        {% for coin_Key in cg_Marketcap_Data %}
            
            <tr>
            <td>{{ coin_Key.market_cap_rank }}</td>
            <td><img src="{{ coin_Key.image }}" width="30" height="30"></td>
            <td><a href="{% url 'crypto_Prices' %}?coinLookup={{ coin_Key.symbol }}">{{ coin_Key.name }}</a></td>
            <td><a href="{% url 'crypto_Prices' %}?coinLookup={{ coin_Key.symbol }}">{{ coin_Key.symbol|upper }}</a></td>
            <td>{{ coin_Key.current_price|floatformat:2|intcomma }}</td>
            {% if coin_Key.price_change_percentage_1h_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_1h_in_currency|floatformat:2|intcomma }}</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_1h_in_currency|floatformat:2|intcomma }}</td>
            {% endif %}
            {% if coin_Key.price_change_percentage_24h_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_24h_in_currency|floatformat:2|intcomma }}</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_24h_in_currency|floatformat:2|intcomma }}</td>
            {% endif %}
            {% if coin_Key.price_change_percentage_7d_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_7d_in_currency|floatformat:2|intcomma }}</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_7d_in_currency|floatformat:2|intcomma }}</td>
            {% endif %}
            <td>{{ coin_Key.total_volume|floatformat:2|intcomma }}</td>
            <td>{{ coin_Key.market_cap|intcomma }}</td>
            </tr>
          
            {% endfor %}
        </tbody>
    </table>
</div>
    <br>
{% endblock %}