{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/44584fec81.js" crossorigin="anonymous"></script>
  

    <link rel="stylesheet" href="{% static "mycss/custom.css" %}">

    <link class="mr-5" rel="icon" type="image/png"  href="{% static 'images/BlockBotTransparent.png' %}">
    <title>CoinBlockbot</title>
  </head>
  <body>
    <nav style="background-color: #020d24;" class="navbar navbar-expand-lg">
        <img src="{% static 'images/BlockBotTransparent.png' %}" width="50" height="50" class="d-inline-block align-top mr-2">
        <a class="navbar-brand" href="{% url 'home' %}">CoinBlockbot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_marketcap' %}">Marketcaps</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'block_list' %}">Block Explorer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'all_news' %}">News</a>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'crypto_Prices' %}">
              {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="BTC, ETH, LTC, etc." aria-label="Search" name="coinLookup">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Lookup</button>
          </form>
        </div>
      </nav>
    <br>  
    <div class="container">
        {% block content %}
   
        {% endblock %}
    </div>
    <!-- Footer -->
    <footer class="bg-primary fixed bottom">
      <div class="container-fluid" style="background-color: #000000;">
        <div class="row">
          <div class="col text-center">
            <h3 class="text-white font-weight-light class-text-capitalize p-3">CoinBlockbot - Cryptocurrency Information</h3>
            <h6 class="text-light font-weight-light font-italic mb-3">The CoinBlockbot page is for informational purposes</h6>
            <div class="py-2">
              <a href="https://twitter.com/btc_blockbot">Check out the BTC_Blockbot on Twitter<i class="fab fa-twitter fa-2x text-info mx-3"></i></a>
              <a href="https://github.com/rapierce/btc_blockbot-Web">CoinBlockbot is an open source project Github<i class="fab fa-github fa-2x text-danger mx-3"></i></a>
            </div><br>
            <div>
              <a href="https://coinblockbot.com">Block Info provided by CoinBlockbot Nodes  <img src="{% static 'images/BlockBotTransparent.png' %}" width="20" height="20"></a>
              <a href="https://bitcoin.org"> Powered by the Bitcoin Network  <img src="{% static 'images/bitcoinlogo.png' %}" width="20" height="20"></a><br>
              <a href="https://coingecko.com">Market Data provided by CoinGecko  <img src="{% static 'images/coingecko.png' %}" width="70" height="20"></a>
            </div>
            <br>
            <p class="text-light text-center">&copy;Copyright 2020 - Made and Maintained by CoinBlockbot</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>
</html>