{% extends 'crypto/base.html' %}
{% load humanize %}

{% block content %}
    {% if not_Found %}
        {{ not_Found }}
    {% else %}
        {% if crypto_Info.status.error_code == 400  %}
            Hmmm Can't find symbol <strong>{{ coinLookup }}</strong>, please check and try again...
        {% endif %}
            
            {% for coin, value in crypto_Info.data.items %}

                <img src="{{ value.logo }}"><h1 class="display-4">{{ key }}</h1>
                <p class="lead"><h2>Information for {{ value.name }}</h2></p>
                <strong>Coin - </strong>{{ value.name }}<br>
                <strong>Symbol - </strong>{{ coin }}<br>
                <strong>Website - </strong><a href={{ value.urls.website.0 }}>{{ value.urls.website.0 }}</a><br>
                <strong>White Paper - </strong><a href={{ value.urls.technical_doc.0 }}>{{ value.urls.technical_doc.0 }}</a><br><br>
                <strong>Description - </strong>{{ value.description }}<br><br>               
                        
            {% endfor %}

            {% for cg_Coin in cg_Price_Data %}

                <strong>Price - </strong>{{ cg_Coin.current_price|floatformat:2|intcomma }}<br>
                <strong>24 Hour High - </strong>{{ cg_Coin.high_24h|floatformat:2|intcomma }}<br>
                <strong>24 Hour Low - </strong>{{ cg_Coin.low_24h|floatformat:2|intcomma }}<br>
                <strong>Market Cap - </strong>{{ cg_Coin.market_cap|intword }}<br>
                <strong>Total Volume - </strong>{{ cg_Coin.total_volume|intword }}<br>               
                        
            {% endfor %}
       
    {% endif %}
<br><br>


{% endblock %}