{% extends 'crypto/base.html' %}
{% load humanize %}


{% block content %}

<h1 class="display-4">BTC BlockBot - Crypto News</h1>
<p class="lead">Your Source for Crypto Currency and Blockchain News.</p>

<!-- {{ cg_Data }} -->

<table class="table table-dark table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Ranking</th>
        <th scope="col">Coin</th> 
        <th scope="col">Symbol</th>
        <th scope="col">Price</th>
        <th scope="col">Market Cap</th>
        <th scope="col">Current Supply</th>
        <th scope="col">Max Supply</th>
      </tr>
    </thead>
    <tbody>
        {% for coin_Key in cg_Data|slice:"10" %}
            
            <tr>
            <td><img src="{{ coin_Key.image }}" width="30" height="30"></td>
            <td>{{ coin_Key.name }}</td>
            <td>{{ coin_Key.symbol }}</td>
            <td>{{ coin_Key.current_price|floatformat:2|intcomma }}</td>
            <td>{{ coin_Key.market_cap|floatformat:2|intcomma }}</td>
            <td>{{ coin_Key.circulating_supply|floatformat:0|intcomma }}</td>
            <td>{{ coin_Key.total_supply|intcomma }}</td>
            </tr>
      
        {% endfor %}
    </tbody>
</table>
<br>

<div class="container">
    <div class="row">
        {% for news in crypto_News.Data|slice:"9" %}
            <div class='col-sm'>
                <div class="card" style="width: 18rem;">
                    <img src="{{ news.imageurl }}" class="card-img-top" alt="{{ news.source }}">
                    <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.body|truncatechars:100 }}</p>
                    <a href="{{ news.url }}" class="btn btn-secondary">Read More...</a>
                    </div>
                </div>
            </div>                
        {% endfor %}
    </div>
</div>


{% endblock %}