{% extends 'crypto/base.html' %}
{% load static %}
{% load humanize %}


{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-6">
        <p style="display: inline;" class="lead mb-1">Top Ten Cryptocurrencies by Market Cap</p>
    </div>
    <div class="col-md-6">
        <a class="body-link" href="{% url 'all_marketcap' %}"><p class="text-right">All Marketcaps</p></a>
    </div>
</div>
</div>

<table class="col-md table table-sm table-hover">
    <thead>
      <tr>

        <th scope="col">Rank</th>
        <th scope="col"></th>
        <th scope="col">Coin</th> 
        <th scope="col"></th>
        <th scope="col">Price</th>
        <th scope="col" style="text-align: center;">1h</th>
        <th scope="col" style="text-align: center;">24h</th>
        <th scope="col" style="text-align: center;">7d</th>
        <th scope="col">Volume</th>
        <th scope="col">Market Cap</th>
      </tr>
    </thead>
    <tbody>
        {% for coin_Key in cg_Data|slice:"10" %}
            
            <tr>
            <td>{{ coin_Key.market_cap_rank }}</td>
            <td><img src="{{ coin_Key.image }}" width="30" height="30"></td>
            <td>{{ coin_Key.name }}</td>
            <td>{{ coin_Key.symbol|upper }}</td>
            <td>{{ coin_Key.current_price|floatformat:2|intcomma }}</td>
            {% if coin_Key.price_change_percentage_1h_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_1h_in_currency|floatformat:2|intcomma }}%</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_1h_in_currency|floatformat:2|intcomma }}%</td>
            {% endif %}
            {% if coin_Key.price_change_percentage_24h_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_24h_in_currency|floatformat:2|intcomma }}%</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_24h_in_currency|floatformat:2|intcomma }}%</td>
            {% endif %}
            {% if coin_Key.price_change_percentage_7d_in_currency < 0 %}
                <td style="color:rgb(255, 0, 0); text-align: center;">{{ coin_Key.price_change_percentage_7d_in_currency|floatformat:2|intcomma }}%</td>
            {% else %}
                <td style="color:#22d322; text-align: center;">+{{ coin_Key.price_change_percentage_7d_in_currency|floatformat:2|intcomma }}%</td>
            {% endif %}
            <td>{{ coin_Key.total_volume|floatformat:2|intcomma }}</td>
            <td>{{ coin_Key.market_cap|intcomma }}</td>
            </tr>
      
        {% endfor %}
    </tbody>
</table>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p Class='lead'>Bitcoin Latest Blocks</p>
        </div>
        <div class="col-md-6">
             <a class="body-link" href="{% url 'block_list' %}"><p class="text-right">Block Explorer</p></a>
        </div>
    </div>
</div>

    <table class="col-md table table-sm table-hover">
        <thead>
            <tr>
            <th scope="col">Block</th>
            <th scope="col">Hash</th>
            <th scope="col">Mined</th>
            <th scope="col">Transactions</th> 
            <th scope="col">Total Bitcoin</th>
            <th scope="col">Block Size</th>
            </tr>
        </thead>
        <tbody>
            {% for value in block_Ex.block_Info|slice:10 %}
                
                <tr>
                <td>{{ value.b_Count }}</td>
                <td>{{ value.b_Hash }} </td>
                <td>{{ value.b_Time }} </td>
                <td style="text-align: center;">{{ value.b_Trans|intcomma }}</td>
                <td>{{ value.b_Value|floatformat:5|intcomma }}</td>
                <td>{{ value.b_Size|intcomma }} bytes</td>
                </tr>
            
            {% endfor %}
        </tbody>
    </table>
<br>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p Class='lead'>Latest News from the Cryptocurrency World</p>
        </div>
        <div class="col-md-6">
            <a class="body-link" href="{% url 'all_news' %}"><p class="text-right">More News</p></a>
        </div>
    </div>
</div>
<hr class="pl-0 pr-0 mt-0">
<div class="container">
    <div class="row">
        {% for news in crypto_News.Data|slice:"6" %}
            <div class='col-md border-light'>
                <div class="card bg-secondary mb-4" style="width: 18rem;">
                    <a href="{{ news.url }}" target="_blank"><img src="{{ news.imageurl }}" class="card-img-top" alt="{{ news.source }}"></a>
                    <div class="card-body">
                    <a class="body-link" href="{{ news.url }}" target="_blank"><h5 class="card-title text-light">{{ news.title }}</h5></a>
                    <p class="card-text">{{ news.body|truncatechars:80 }}</p>
                    </div>
                </div>
            </div><br>
        {% endfor %}
    </div>
</div>


{% endblock %}