.navbar-nav .nav-link {
    color: rgb(219, 189, 19, 0.993) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(129, 129, 129, 0.5) !important;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgba(196, 169, 20, 0.993);
}


#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 6rem;
    }
    #blogdetailtitle {
        font-size: 6rem;
    }
}