.navbar-nav .nav-link {
    color: rgba(235, 232, 220, 0.993) !important;
}

.navbar-dark{
    background-color: rgb(25, 25, 26);
}
.navbar-nav .nav-link:hover {
    color: rgba(150, 150, 155, 0.966) !important;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: rgb(43, 44, 58);
    color: rgba(235, 232, 220, 0.993);
}

.body-link {
    color: rgba(235, 232, 220, 0.993) !important;
}

p {
    text-align: justify;
}

a {
    color: azure;
    font-weight: bold;
}

a:hover, h5:hover{
    color: rgb(172, 172, 172);
    text-decoration-color: rgb(172, 172, 172);
    font-weight: bold;
}

hr {
    background-color: rgba(235, 232, 220, 0.993);
}

table,th,tr
    th
    {
        background-color: rgb(43, 43, 46);
        color: rgba(235, 232, 220, 0.993);
    }
    
    tr
    {
        font-family: 'Crimson Text', serif;
        background-color: rgb(72, 72, 75);
        color: rgba(235, 232, 220, 0.993);
    }
    .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
        background-color: rgb(155, 155, 167);
      }
